<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
  
  <customErrors mode="RemoteOnly" defaultRedirect="Sample.html">
      <error redirect="Sample.html" statusCode="404" />
      <error redirect="Sample.html" statusCode="301" />
      <error redirect="Sample.html" statusCode="500" />
      <error redirect="Sample.html" statusCode="401" />
      <error redirect="Sample.html" statusCode="403" />
      <error redirect="Sample.html" statusCode="400" />
      <error redirect="Sample.html" statusCode="501" />
    </customErrors>

    <compilation debug="false" targetFramework="4.5" />
    <httpRuntime enableVersionHeader="false" />
 <httpCookies requireSSL="true" httpOnlyCookies="true" />
        <authentication mode="Forms">
            <forms requireSSL="true" />
        </authentication>

  </system.web>
    <system.webServer>	
	<httpProtocol>
   <customHeaders>
                <remove name="X-Powered-By" />
                <remove name="X-Frame-Options" />
	  <remove name="Server" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="Content-Security-Policy" value="default-src https: data: 'unsafe-inline' 'unsafe-eval' data: blob: tracking.affiliatehub.co.in aqugen.go2cloud.org google-analytics.com" />
                <add name="X-Xss-Protection" value="1;mode=block" />
                <add name="Strict-Transport-Security" value="max-age=31536000;includeSubDomains" />
                <add name="X-Content-Type-Options" value="Nosniff" />           
    </customHeaders>
  </httpProtocol>
       <!-- <directoryBrowse enabled="true" />      --> 	
	   
   <staticContent>
		<mimeMap fileExtension=".gmg" mimeType="text/plain" />
	</staticContent>

<rewrite>
      <rules> 
      <rule name="BlockRootConfigJsonFromBrowser" stopProcessing="true">
        <match url="^config\.json$" />
        <conditions>
            <!-- Block if Referer is missing or not from your domain -->
            <add input="{HTTP_REFERER}" pattern="^https://digitalaccount\.axisdirect\.in" negate="true" />
        </conditions>
        <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access Denied" />
        </rule>       
        <rule name="Imported Rule 2" enabled="true" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
			<add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
		<rule name="Host Header Validation" enabled="true" stopProcessing="true">
                    <match url="(.)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^([a-zA-Z0-9-_]+.)*digitalaccount.axisdirect.in$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://digitalaccount.axisdirect.in" />
                </rule>
		 <rule name="Allow Googlebot" stopProcessing="true">
				  <match url=".*" />
				  <conditions>
					<add input="{HTTP_USER_AGENT}" pattern="AdsBot-Google|Googlebot|Mediapartners-Google|Mozilla/5.0 \(iPhone\;.*Safari" />
				  </conditions>
				  <action type="Rewrite" url="{R:0}" />
				</rule>
      </rules>
	  <outboundRules>
                <remove name="Remove Server Response Header" />
                <rule name="Remove Server Response Header" enabled="true">
                    <match serverVariable="RESPONSE_SERVER" pattern=".*" />
                    <conditions />
                    <action type="Rewrite" value="" />
                </rule>
				<rule name="Remove Allow Response Header" enabled="true">
                    <match serverVariable="RESPONSE_ALLOW" pattern=".*" />
                    <conditions />
                    <action type="Rewrite" value="--" />
                </rule>
				<rule name="Remove public Response Header" enabled="true">
                    <match serverVariable="RESPONSE_PUBLIC" pattern=".*" />
                    <conditions />
                    <action type="Rewrite" value="--" />
                </rule>
                <rule name="Remove X-Powered-By">
                    <match serverVariable="RESPONSE_X-POWERED-BY" pattern=".*" />
                    <action type="Rewrite" />
                </rule>
				<rule name="Remove X-AspNet-Version">
                    <match serverVariable="RESPONSE_X-AspNet-Version" pattern=".*" />
                    <action type="Rewrite" />
                </rule>
</outboundRules>

    </rewrite>
        <security>
            <requestFiltering allowHighBitCharacters="false">
			<requestLimits maxUrl="109990" maxQueryString="2097151" maxAllowedContentLength="2147483648" />
                <verbs>
                    <add verb="OPTIONS" allowed="false" />
                </verbs>
 <fileExtensions allowUnlisted="true">
          <remove fileExtension="." />
                    <add fileExtension="." allowed="true" />
                  </fileExtensions>
            </requestFiltering>
        </security>
 
    
  </system.webServer>
</configuration>
