<!-- Criteo Loader File -->

<script type="text/javascript" src="//dynamic.criteo.com/js/ld/ld.js?a=119080" async="true"></script>

<!-- END Criteo Loader File -->
<!-- Criteo Purchase Tag -->
<script>
    window.dataLayer = window.dataLayer || [];
window.dataLayer.push({
  event: "generate_lead",
  lead_type: "contact_form",  // or "demo_request", "callback", etc.
  form_id: "leadForm1",       // optional: ID of the form submitted
  page_location: window.location.href, // optional: current page URL
  page_title: document.title  // optional: page title for context
});
</script>
<script>
  gtag('event', 'conversion', {
      'send_to': 'AW-727858862/WVNICOrzvtcaEK79iNsC',
      'value': 1.0,
      'currency': 'INR'
  });
</script>
<script type="text/javascript">

  window.criteo_q = window.criteo_q || [];

  var deviceType = /iPad/.test(navigator.userAgent) ? "t" : /Mobile|iP(hone|od)|Android|BlackBerry|IEMobile|Silk/.test(navigator.userAgent) ? "m" : "d";
  var refid = sessionStorage.getItem('RxReferenceNumber');


  window.criteo_q.push(

    { event: "setAccount", account: 119080 },

    { event: "setEmail", email: "##Email Address of User##" },

    { event: "setSiteType", type: deviceType},

    { event: "trackTransaction",

      id: refid,

      item: [

       {id: "1", price: "1", quantity: "1" }

       //add a line for each additional product in the basket

     ]}

  );

</script>

<!-- END Criteo Purchase Tag -->
<!-- Global site tag (gtag.js) - Google Ads: 727858862 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-727858862"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-727858862');
</script>
<!-- Event snippet for AxisDirect_AccountOpen_Dec20 conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-727858862/-n90CIPl_esBEK79iNsC'});
</script>
<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1253495914811323');
  fbq('track', 'PageView');fbq('trackCustom', 'AxisDirect-AccountOpen');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1253495914811323&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<!-- Taboola Pixel Code -->
  <script type='text/javascript'>
   window._tfa = window._tfa || [];
    window._tfa.push({notify: 'event', name: 'page_view', id: 1717432}); 
    !function (t, f, a, x) {
         if (!document.getElementById(x)) {
             t.async = 1;t.src = a;t.id=x;f.parentNode.insertBefore(t, f);
             } 
            }
    (document.createElement('script'), document.getElementsByTagName('script')[0], '//cdn.taboola.com/libtrc/unip/1717432/tfa.js', 'tb_tfa_script');
    </script>
     <!-- End of Taboola Pixel Code -->	

     <!-- Taboola Pixel Code --> <script> _tfa.push({notify: 'event', name: 'lead2', id: 1717432}); </script> <!-- End of Taboola Pixel Code -->																									

<script> (function(w,d,t,r,u) { var f,n,i; w[u]=w[u]||[],f=function() { var o={ti:"343173170", enableAutoSpaTracking: true}; o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad") }, n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function() { var s=this.readyState; s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null) }, i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i) }) (window,document,"script","//bat.bing.com/bat.js","uetq"); </script>
<style>
    .mt-4.container {
        margin-top: 0px !important;
    }
    .ax-sec-title {
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.1px;
    }
</style>
<div class="container">
    <div class="row pb-2 align-items-center justify-content-center">
        <div class="col-md-9">
            <iframe src="https://trk.y2k1.xyz/pixel?adid=609105e2f6d02e5ee034e2fb" scrolling="no" frameborder="0" width="1" height="1"></iframe>
             <iframe ng-if="moneyControl" src="https://trk.clmbtrck.in/pixel?adid=675adbc99ff6a33a83019d97&goal_value=Account open&txn_id=ORDER_ID_OR_TRANS_ID" scrolling="no" frameborder="0" width="1" height="1"></iframe>
            <div class="col-12">
                <div class="pg-completed">
                     <h4 class="ax-sec-title p-0 f-18" ng-if="!Disability">Congratulations! You have now completed your application to open a demat and trading account!</h4>
					<div ng-if="Disability" class="ax-sec-title">
						<p> Thank you for choosing Axis Direct </p>
						<p>Your application has been submitted successfully.
						A dedicated Relationship Manager will contact you soon to help you complete your account opening.</p>
						
						<p>&nbsp;</p>
					</div>
					<div ng-if="formData.ReferenceNumber" class="ax-sec-title">
						<p>Your application number is <span class="ax-homeBackBtn">{{formData.ReferenceNumber}}</span></p>
						<p>Please refer to this application number for all your future communications with us.</p>
						<p>&nbsp;</p>
						<p class="ax-homeBackBtn">What’s Next?</p>
						<p>You application’s scrutiny will take a maximum of 3 working days and you will be informed via mail on the successful activation of your account or if a discrepancy needs to be cleared.</p>
						<p>In the mean time, you can explore the wide range of offerings provided by Axis Direct by visiting our website, or know better about our products by visiting our <a href="https://simplehai.axisdirect.in/faqs" target="_blank">FAQs section</a></p>
						<p>&nbsp;</p>
					</div>
                    <!-- <img class="cartoon-character" src="../../assets/images/axis/completed-cartoon.png" alt="" title="axis-account-opened" /> -->
                    <div class="py-3">
                        <h4 class="ax-sec-title mb-55  mt-0" ng-show="verifyemail">It seems that you have not verified your email yet. Please <a href="javascript:void(0)" ng-click="genEmailOTP()">verify your email address</a> to complete your digital journey.</h4>
                        <!-- <h4 class="ax-sec-title mb-0" ng-show="verifyemail">Dear Customer, it seems you have not verified your email yet, Please <a href="javascript:void(0)" ng-click="genEmailOTP()">verify your email address</a> to complete your digital journey.</h4> -->
                        <!--<div ng-if="isAxisBankDetailShow">
                            <h5 class="mb-4">If you wish to change your registered email id, please call us at 022-40508080 or 022-61480808 or you can do that after your account is opened.</h5>
                            <h4 class="ax-sec-title mt-2 mb-0">A soft copy of the pre-filled Axis bank LOA will be shared with you on your registered email address with us. If you have linked your Axis Bank account with us, by submitting the Axis bank LOA form, you will be able to trade hassle free as we will directly hold and release the funds to your bank account. 
                           
                            <p class="mt-2">Request you to take a print out of the same, sign it and send it to us via courier on the address given below:</p>
                            <p class="mt-2 mb-0 font-bold">Axis Securities Ltd</p>
                                            <p class="m-0">Axis Securities Ltd., Aurum Q Parć, Q2 Building, Unit No. 1001, 10th Floor, Level – 6, </p>
                                            <p class="m-0">Plot No. 4/1 TTC, Thane - Belapur Road, Ghansoli, Navi Mumbai, Pin Code – 400710.</p>
                            </h4>
                        </div>-->
                        <!--<div ng-if="!isAxisBankDetailShow">
                            <h5 class="mb-4">If you wish to change your registered email id, please call us at 022-40508080 or 022-61480808 or you can do that after your account is opened.</h5>
                            <p class="mt-2 mb-0 font-bold">Axis Securities Ltd</p>
                                            <p class="m-0">Axis Securities Ltd., Aurum Q Parć, Q2 Building, Unit No. 1001, 10th Floor, Level – 6,</p>
                                            <p class="m-0">Plot No. 4/1 TTC, Thane - Belapur Road, Ghansoli, Navi Mumbai, Pin Code – 400710.</p>
                            </h4>
                        </div>-->
                    </div>
                    <!--<div class="p-5" ng-if="!verifyemail">
                        <h4 class="ax-sec-title mb-0">Your account will be activated shortly. We will be in touch with you on E-mail and SMS.</h4>
                        <h4 class="ax-sec-title mt-0">In the meanwhile, feel free to explore the wonderful world of investments with Axisdirect.</h4>
                    </div>-->
                   <div class="text-center"> <button class="btn ax-btn-primary text-uppercase mb-3" ng-click="stageCompleted()">Go to axisdirect Homepage</button></div>

                   <!-- <p class="my-2" ng-if="isAxisBankDetailShow"><b>Please Note: </b>AxisBank LOA is not required to be sent if any other bank account is linked</p>-->
                    <!-- <p class="my-2" ng-if="!isAxisBankDetailShow"><b>Please Note: </b>POA is not required to be sent if any other bank account is linked</p> -->
                </div>
            </div>
            <!-- <a href="https://simplehai.axisdirect.in/app/index.php/user/auth/activateUser" target="_blank">
                <img src="assets/images/completefooterbaner.jpg" class="img-fluid w-100 mb-1 mt-2" alt="Online Account Opening"/>
            </a> -->
            <!-- <div class="d-md-none d-block">
                <a href="https://simplehai.axisdirect.in/app/index.php/user/auth/activateUser" target="_blank">
                    <img src="assets/images/banner1.jpg" class="img-fluid w-100" alt="Online Account Opening"/>
                </a>
            </div> -->
        </div>
        <!-- <div class="col-md-3 text-center">
            <a href="https://simplehai.axisdirect.in/app/index.php/user/auth/activateUser" target="_blank" class="d-none d-md-block">
                <img src="assets/images/banner.jpg" class="img-fluid w-75" alt="Online Account Opening"/>
            </a>
        </div> -->
        <!-- <div class="col-sm-12 text-center py-4">
            <a href="https://simplehai.axisdirect.in/app/index.php/user/auth/activateUser" target="_blank">
                <img src="assets/images/completefooterbaner.jpg" class="img-fluid w-100" alt="Online Account Opening"/>
            </a>
        </div> -->
    </div>
</div>


<style>
  .detailsscreendata {
      padding-bottom: 5px;
      margin-left: 10px;
      border-bottom: 1px solid;
      width: 30%;
      font-weight: 600;
  }
  .authorisepolicy ul li {
      margin-bottom: 10px;
  }
  .authorisepolicy ul li span {
      margin-right: 10px;
  }
  .modal-lg {
      max-width: 900px;
  }
</style>

<section class="modal fade" id="acceptanceletterpopup" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg" >
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body login-body">
            <div class="row">

              <div class="col-12 text-left">
                  <div class="authorisepolicy">
                      <h4 class="ax-sec-title pb-5 text-center">Authorisation to Axis Securities Limited</h4>
                      <div class="p-5">
                          <p>I,<b> &lt;{{karvyData.CUSTOMER_NAME}}&gt;</b>, PAN <b>&lt;{{karvyData.PAN}}&gt; </b> was maintaining my resident individual Trading Account with Karvy Stock
                              Broking Limited. I understand that through a formal bidding process all client Trading Accounts maintained
                              with Karvy are being shifted to Axis Securities Limited (ASL).</p>
                          <p>
                              I confirm that I have already completed my CKYC and KRA process for my Trading account with Karvy. I
            understand that the above KYC documents will be forwarded by Karvy to ASL.
                          </p>
                          <p>
                              Please take this as consent to open my Demat account with ASL as Depository Participant of NSDL and link it to
            my Trading account. The Demat account to be opened based on the KYC details including bank account details
            of my Trading account with Karvy.
                          </p>
                          <p>
                              I agree to ASL’s standard retail DP Tariff sheet for my above Demat account. I will submit additional
            documents, if any required by ASL in this regard.
                          </p>
                          <p>Customer Declaration:</p>
                          <ul class="list-unstyled">
                              <li><span>-</span>I/We authorize you to receive credit automatically into A/c.</li>
                              <li><span>-</span>I/We do not want to receive the Delivery Instruction Slip (DIS) booklet</li>
                              <li><span>-</span>I/We hereby authorize you to use my/our Bank A/c no in Trading account for dividend purpose,</li>
                              <li><span>-</span>recovery of Demat related charges.</li>
                              <li><span>-</span>I/We do not wish to make a nomination</li>
                              <li><span>-</span>I/We opt for Non BSDA Demat Account operated through Power Of Attorney</li>
                              <li><span>-</span>I/We opt for Statement frequency as Monthly</li>
                              <li><span>-</span>I/We opt for Mode of receiving Demat statement, Rights &amp; Obligation and annual report as Electronic</li>
                              <li><span>-</span>I/We allow Axis Securities to Share my email ID with RTA</li>
                              <li><span>-</span>I/We wish to avail of the facility of internet trading/ wireless technology</li>
                              <li><span>-</span>I/we further confirm having read and understood the contents of Part B Form comprising of Rights
                                  and Obligations of the Beneficial Owner and Depository Participant, Rights and Obligations of Stock
                                  Brokers, Sub Brokers &amp; clients, Rights and Obligations of Margin Trading, Risk Disclosure document,
                                  Policy &amp; Procedures, Guidance Note, Additional Terms &amp; Conditions &amp; Schedule of Charges. I/We do
                                  hereby agree to be bound by such provisions as outlined in these documents.</li>
                          </ul>
                          <p>Bank Account to be linked in Demat and Trading:</p>
                          <div class="d-flex align-items-center justify-content-start mb-3">
                              <span>Bank Account Number:</span>
                              <div class="detailsscreendata">{{karvyData.AC_NO}}</div>
                          </div>
                          <div class="d-flex align-items-center justify-content-start mb-3">
                              <span>IFSC:</span>
                              <div class="detailsscreendata">{{karvyData.IFSC_CODE}}</div>
                          </div>
                          <div class="d-flex align-items-center justify-content-start mb-3">
                              <span>Bank Name:</span>
                              <div class="detailsscreendata">{{karvyData.BANK_NAME}}</div>
                          </div>
                          <div class="d-flex align-items-center justify-content-start mb-3">
                              <span>Date of Birth: </span>
                              <div class="detailsscreendata">{{karvyData.DOB}}</div>
                          </div>
                          <div class="d-flex align-items-center justify-content-start mb-3">
                              <span>Mobile Number: </span>
                              <div class="detailsscreendata">{{karvyData.MOBILE}}</div>
                          </div>
                          <div class="d-flex align-items-center justify-content-start mb-3">
                              <span>Email ID:</span>
                              <div class="detailsscreendata">{{karvyData.EMAIL}}</div>    
                          </div>
                      </div>
                      <div class="px-5">
                          <p>Thanking you</p>
                          <p class="mb-5">Name: <b>&lt;{{karvyData.CUSTOMER_NAME}}&gt;</b></p>
                      </div>
                      <p class="text-center">
                          *Demat account opening is subject to validation of data with Trading account and KYC records Validation
                      </p>
                  </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</section>





