.logobg-img {
    background-image: url(../images/Pathway.png);
    background-repeat: no-repeat;
    /* background-size: auto; */
        height: 64px;
}
.font-weight-normal {
    font-weight: 400;
}
.poasarsas p{
    font-size: 16px !important;
    margin-bottom: 8px;
}
.border-1 {
    border: 1px solid #eee;
}
.holderSignaturepoaitem:after {
    content: "";
    background-image: url(../images/signature.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    right: 0px;
    left: initial;
    top: initial;
    bottom: 0px;
    width: 24px;
    height: 24px;
}
.holderSignaturepoaitem {
    position: relative;
    height: 20px;
}