
<style>
.tooltip{width: 200px}
.table {
display: none !important;
}
</style>
<!-- Global site tag (gtag.js) - Google Ads: 727858862 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-727858862"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-727858862');
</script>
<!-- Event snippet for AxisDirect_Product_Dec20 conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-727858862/8HRpCJHY_esBEK79iNsC'});
</script>
<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1253495914811323');
  fbq('track', 'PageView');fbq('trackCustom', 'AxisDirect-Products');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1253495914811323&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<div class="container">
<div class="row product-zone" id="products">
    <div class="col-md-9">
		<h4 class="ax-sec-title acord-btn mb-5" data-bs-toggle="collapse" data-bs-target="#selectPlan">
			<a href="javascript:void(0)" class="collapseTag ax-sec-title" title="selectPlan">Select Plan</a></h4>
		<div id="selectPlan" class="collapse show mb-3" data-bs-parent="#products">
        <div class="row">
            <div class="col-md-9">
				<h4 class="ax-primary-title m-0 mb-5"><b>Please select plan to proceed...</b></h4>
                <!--<h4 class="ax-primary-title m-0 mb-3">Woohoo! We are almost done!</h4>
                <h4 class="ax-sec-title mt-0">Investments now at your fingertips with a one-stop solution for all your financial needs!</h4>-->
            </div>
            <div class="col-12 d-block d-sm-none">
                <div class="d-flex justify-content-start">
                    <div>Step 5/8</div>
                    <div class="mobile-progress progress">
                        <div class="progress-bar" style="width:62.5%;height:20px"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-none d-sm-block text-center">
                <!-- <img class="img-fluid cartoon-character" src="../../assets/images/axis/product-cartoon.png" -->
                    <!-- alt="Registration-emoji" /> -->
            </div>
        </div>
		<data-owl-carousel class="owl-carousel segmentation-container account-plan-container mt-3 pt-4" data-options="owlOptionsTestimonials" > 
			<div class="mb-3 item"  owl-carousel-item="" ng-repeat="plan in planList track by [$index]" ng-class="{'d-none': utmHide}" id="plan{{plan.ProductId}}">
				<input type="radio" ng-click="prdSelect($index)" name="axisDirect" id="product-{{$index}}" value="{{plan.ProductId}}" ng-disabled="disableAll"> 
				<div class="account-plan account-plan-bg h-100 d-flex flex-row mx-1 text-dark" >
					<span class="arrow"></span>
					<div class="ps-0 overflow-hidden">
						<div class="d-flex flex-column">
							<div class="align-self-start text-uppercase">{{plan.PlanName}}</div> 
						</div>
					</div>
				</div>
			</div>
		</data-owl-carousel>
			<!--<div class="col-md-auto mb-5" ng-class="{'mx-3': !utmHide, 'mx-0': utmHide}" ng-repeat="plan in planList track by [$index]">
				<div class="checkBoxSect2" ng-class="{'tickMarkDisabled': disableAll || utmHide, 'd-none':utmHide}" id="plan{{plan.ProductId}}" >
					<label class="cBox2" for="{{plan.ProductId}}" ng-disabled="disableAll || utmHide">{{plan.PlanName}}
						<input type="radio" id="{{plan.ProductId}}" name="axisDirect" ng-model="axisDirectPlan" ng-click="prdSelect($index)" value="{{plan.ProductId}}" ng-disabled="disableAll || utmHide"> <span class="rtickMark2"></span>
					</label>
				</div>
			</div>-->
		</div>	
		<div class="row">
			<div class="divider col-12 mb-5">
				<div class="divider-d"></div>
            </div>
         </div>
		 
		
		<h4 class="ax-sec-title m-0 my-4">Plan Details</h4>
		
		<div id="planDetails">
				
				<div ng-show="!productAction || freedomPlan" class="row mb-4">
							<div class="col-12">
								<div class="help-sidebar">
									<div class="guideline-with-bg">
										<div class="row">
											<div ng-class="{'col-md-5 px-0': freedomPlan,'col-md-4': !freedomPlan}" class="col-12">
												<div class="d-flex pb-4">
													<div class="ax-sec-tick" ng-class="{'pe-1': freedomPlan,'pe-3': !freedomPlan}">&#10004;</div>
													<div>Zero Demat AMC for the first year</div>
												</div>
												<div class="d-flex pb-md-0 pb-4">
													<div class="ax-sec-tick" ng-class="{'pe-1': freedomPlan,'pe-3': !freedomPlan}">&#10004;</div>
													<div class="">{{freedomPlan ? '20% Discount on MTF Rates would be for lifetime':'Multi-channel trading platforms'}}</div>
												</div>
											</div>
											<div ng-class="{'col-md-7': freedomPlan,'col-md-8': !freedomPlan}"  class="col-12">
												<div class="d-flex pb-4">
													<div class="ax-sec-tick" ng-class="{'pe-1': freedomPlan,'pe-3': !freedomPlan}">&#10004;</div>
													<div class="">{{freedomPlan ? 'Brokerage credit received for 3 months post account opening':'Equity, Mutual Funds, IPO, Bonds, Insurance all under one roof'}}</div>
												</div>
												<div class="d-flex pb-0">
													<div class="ax-sec-tick" ng-class="{'pe-1': freedomPlan,'pe-3': !freedomPlan}">&#10004;</div>
													<div class="">{{freedomPlan ? 'Take advantage of reduced brokerage for lifetime ':'Seamless trading experience with 3in1 account'}}</div>
												</div>
											</div>
										</div>
										
										
									</div>
								</div>					
							</div>				
				</div>
			
				 <div ng-show="productAction && !freedomPlan" class="row">
                    <div class="col-12">
						
						<div class="mb-4 guideline-with-bg">
							<div class="row">
								<div class="col-md-6">
									<div class="d-flex pb-4">
									<div class="pe-3 ax-sec-tick">&#10004;</div>
									<div>Complimentary delivery turnover(CDT) of {{planList[psArray].DeliveryTurnover}}</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="d-flex pb-4">
									<div class="pe-3 ax-sec-tick">&#10004;</div>
									<div class="">{{planList[psArray].TurnoverValidity}} validity of CDT</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="d-flex pb-4">
									<div class="pe-3 ax-sec-tick">&#10004;</div>
									<div class="">Zero Demat AMC for the first year</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row mb-4 d-none">
							<div class="col-12">
								<div class="help-sidebar">
									<div class="guideline-with-bg">
										<div class="row">
											<div class="col-md-4 col-12">
												<div class="d-flex pb-4">
													<div class="pe-3 ax-sec-tick">&#10004;</div>
													<div>Zero Demat AMC for the first year</div>
												</div>
												<div class="d-flex pb-md-0 pb-4">
													<div class="pe-3 ax-sec-tick">&#10004;</div>
													<div class="">Multi-channel trading platforms</div>
												</div>
											</div>
											<div class="col-md-8 col-12">
												<div class="d-flex pb-4">
													<div class="pe-3 ax-sec-tick">&#10004;</div>
													<div class="">Equity, Mutual Funds, IPO, Bonds, Insurance all under one roof</div>
												</div>
												<div class="d-flex pb-0">
													<div class="pe-3 ax-sec-tick">&#10004;</div>
													<div class="">Seamless trading experience with 3in1 account</div>
												</div>
											</div>
										</div>
										
										
									</div>
								</div>					
							</div>				
						</div>
						
						<h4 ng-show="productAction && !freedomPlan" class="ax-sec-title mt-2">How will it benefit you?</h4>
						<div ng-show="productAction && !freedomPlan" class="d-flex">
							<ul class="list-group shadow-sm">
							  <li class="list-group-item p-0">
								<div class="d-flex benefit-text">
									<div class="benefit-static-text p-3 border-right">
										Complimentary Delivery Turnover(CDT)
									</div>
									<div class="benefit-dynamic-text p-3">
										<strong>&#8377; {{planList[psArray].DeliveryTurnover}}</strong>
									</div>
								</div>
							  </li>
							  <li class="list-group-item p-0">
								<div class="d-flex benefit-text">
									<div class="benefit-static-text p-3 border-right">
										Complimentary Turnover Validity
									</div>
									<div class="benefit-dynamic-text p-3">
										<strong>{{planList[psArray].TurnoverValidity}}</strong>
									</div>
								</div>
							  </li>
							  <li class="list-group-item p-0">
								<div class="d-flex benefit-text">
									<div class="benefit-static-text p-3 border-right">
										Account Opening Charges
									</div>
									<div class="benefit-dynamic-text p-3">
										<strong ng-if="planList[psArray].OpeningFee!=0">&#8377; {{planList[psArray].OpeningFee}}/-</strong>
										<strong ng-if="planList[psArray].OpeningFee==0">NIL</strong>
									</div>
								</div>
							  </li>
							</ul>
							
						</div>
						<h4 ng-show="productAction && !freedomPlan" class="ax-primary-title m-0 mb-3 mt-2">Brokerage Charges (Post utilization of CDT)</h4>
                    </div>
                </div>
				
					<div ng-show="!productAction || freedomPlan" class="row mb-4">
					<div class="col-12">
						<div class="help-sidebar">
							<div class="guideline-with-bg">
								<h3 class="ax-sec-title mt-0 mb-4">Brokerage & Account Opening Charges</h3>
								<h3 class="ax-primary-title mt-0 mb-4"><b>Account Opening Charges: <span ng-if="planList[psArray].OpeningFee!=0">&#8377; {{planList[psArray].OpeningFee}}/-</span>
										<span ng-if="planList[psArray].OpeningFee==0 && !freedomPlan">NIL</span>
										<span ng-if="freedomPlan">Free</span></b></h3>
								
								<!-- new changes -->
								<div class="row m-0 shadow-sm border border-bottom-0 rounded">
									<div class="col-md col-12 border-right border-bottom">
										<div class="row">
											<div class="col-6 col-md-12 ps-4 py-4  bg-grey h-70">
												Plan
											</div>
											<div class="col-6 col-md-12 ps-4 py-4">
												{{planList[psArray].PlanName}}
											</div>
										</div>
									</div>
									<div class="col-md col-12 border-right border-bottom">
										<div class="row">
											<div class="col-6 col-md-12 ps-4 py-4  bg-grey h-70">
												Cash/Emargin Product (Each Leg)
											</div>
											<div class="col-6 col-md-12 ps-4 py-4">
												{{planList[psArray].Exchange}}
											</div>
										</div>
									</div>	
									<div class="col-md col-12 border-right border-bottom">
										<div class="row">
											<div class="col-6 col-md-12 ps-4 py-4 bg-grey h-70">
												Intraday/Cover Product  (Each Leg)  
											</div>
											<div class="col-6 col-md-12 ps-4 py-4">
												{{planList[psArray].IntradayandFeatures}}
											</div>
										</div>
									</div>	
								</div>
								<div class="row m-0 shadow-sm border border-bottom-0 rounded">
									<div class="col-md col-12 border-right border-bottom">
										<div class="row">
											<div class="col-6 col-md-12 ps-4 py-4 bg-grey h-70">
												Future  (Each Leg)
											</div>
											<div class="col-6 col-md-12 ps-4 py-4">
												{{planList[psArray].CurrencyFeatures}}
											</div>
										</div>
									</div>	
									<div class="col-md col-12 border-right border-bottom">
										<div class="row">
											<div class="col-6 col-md-12 ps-4 py-4 bg-grey h-70">
												Equity Option
											</div>
											<div class="col-6 col-md-12 ps-4 py-4" ng-if="planList[psArray].Options">&#8377; {{planList[psArray].Options}}
											</div>
										</div>
									</div>	
									<div class="col-md col-12 border-right border-bottom">
										<div class="row">
											<div class="col-6 col-md-12 ps-4 py-4 bg-grey h-70">
												Commodity &amp; Currency Option  (Each lot/Leg)
											</div>
											<div class="col-6 col-md-12 ps-4 py-4">
												&#8377; {{planList[psArray].CommodityCurrencyOption}}
											</div>
										</div>
									</div>	
								</div>
								<div ng-show="!productAction || freedomPlan" class="mt-3">
									<label class="ax-label m-0 mb-3" ng-if="!freedomPlan"><b>1)  Options Rs.20 per order will be applicable only for self generated trades through online platforms.</b></label>
									<label class="ax-label m-0 mb-3" ng-if="freedomPlan"><b>(i) Axis Direct Freedom Plan will be activated post intimation of credit of funds in your bank account within the stipulated time (else, default rates will be applied).</b></label>
									<label class="ax-label m-0 mb-3" ng-if="freedomPlan"><b>(ii) Promo Codes or waiver of Account Opening Fees will only be applicable for the Prosperity Plan.</b></label>
									<label class="ax-label m-0 mb-3" ng-if="freedomPlan"><b>(iii) Axis Direct Freedom Plan will only be applicable for those customers linking an Axis Bank Account with us. If any other bank is linked, the default plan of Prosperity will be applied.</b></label>
									<label class="ax-label m-0 mb-3" ng-if="freedomPlan"><b>(iv) 20% Discount on MTF Rates would be for lifetime (slashed to 14.4% from 18%)</b></label>
									<label class="ax-label m-0 mb-3" ng-if="freedomPlan"><b>(v) In addition to the above mentioned rates, customer will be eligible for Brokerage Credit, based on the applicable slab.</b></label>
								</div>			
							</div>
						</div>					
					</div>				
				</div>
				<div ng-show="productAction && !freedomPlan" class="row mb-4">
					<div class="col-12">
						<div class="help-sidebar">
							<div class="guideline-with-bg">
								
								<div class="row m-0 shadow-sm border border-bottom-0 rounded">
									<div class="col-md col-12 border-right border-bottom">
										<div class="row">
											<div class="col-6 col-md-12 ps-4 py-4 bg-grey h-70">
												Plan
											</div>
											<div class="col-6 col-md-12 ps-4 py-4">{{planList[psArray].PlanName}}</div>
										</div>
									</div>
									<div class="col-md col-12 border-right border-bottom">
										<div class="row">
											<div class="col-6 col-md-12 ps-4 py-4 bg-grey h-70">
												Cash/Emargin Product (Each Leg)
											</div>
											<div class="col-6 col-md-12 ps-4 py-4">{{planList[psArray].Exchange}}</div>
										</div>
									</div>	
									<div class="col-md col-12 border-right border-bottom">
										<div class="row">
											<div class="col-6 col-md-12 ps-4 py-4 bg-grey h-70">
												Intraday/Cover Product  (Each Leg)  
											</div>
											<div class="col-6 col-md-12 ps-4 py-4 ">{{planList[psArray].IntradayandFeatures}}</div>
										</div>
									</div>	
								</div>
								<div class="row m-0 shadow-sm border border-bottom-0 rounded">
									<div class="col-md col-12 border-right border-bottom">
										<div class="row">
											<div class="col-6 col-md-12 ps-4 py-4 bg-grey h-70">
												Future (Each Leg)
											</div>
											<div class="col-6 col-md-12 ps-4 py-4">{{planList[psArray].CurrencyFeatures}}</div>
										</div>
									</div>	
									<div class="col-md col-12 border-right border-bottom">
										<div class="row">
											<div class="col-6 col-md-12 ps-4 py-4 bg-grey h-70">
												Equity Option
											</div>
											<div class="col-6 col-md-12 ps-4 py-4" ng-if="planList[psArray].Options">&#8377; {{planList[psArray].Options}}</div>
										</div>
									</div>	
									<div class="col-md col-12 border-right border-bottom">
										<div class="row">
											<div class="col-6 col-md-12 ps-4 py-4 bg-grey h-70">
												Commodity &amp; Currency Option (Each lot/Leg)
											</div>
											<div class="col-6 col-md-12 ps-4 py-4" ng-if="planList[psArray].CommodityCurrencyOption">&#8377; {{planList[psArray].CommodityCurrencyOption}}</div>
										</div>
									</div>	
								</div>	

								<div ng-show="productAction && !freedomPlan" class="mt-3">
								
									<label class="ax-label m-0 mb-3"><b>1) The plan Subscription Charges will be debited post account opening.</b></label>
								
									<label class="ax-label m-0 mb-3"><b>2) {{planList[psArray].PlanName}} will be activated post debit of subscription charges.</b></label>
									
									<label class="ax-label m-0 mb-3"><b>3) Options Rs.20 per order will be applicable only for self generated trades through online platforms.</b></label>
									
									<label class="ax-label m-0 mb-3"><b>4) Promo Codes or waiver of Account Opening Fees will only be applicable for the Prosperity Plan.</b></label>
								</div>								
							</div>
						</div>					
					</div>				
				</div>
				<div class="row mb-5">
                    <div class="col-12 text-right">
						<a style="text-decoration: none;" href="https://simplehai.axisdirect.in/images/PartB/CDR%20-%20Part%20B%20SHORT%20Form%20Ver%2010_07-03-2019.PDF"
                                    target="_blank">Read Terms & Conditions Carefully, <span style="border-bottom: 1px solid;"> Click Here</span></a>
                    </div>
                </div>
              
              
		</div>
	
		
		
		
		
            
		<div class="row">
			<div class="divider col-12 mb-5">
				<div class="divider-d"></div>
			</div>
		</div>
		
		<!-- <h4 class="ax-sec-title m-0 mb-5">Demat Type</h4>
		<div class="row radiolist mb-5">
			<div class="col-md-3 input-section pos-relative">
				<div class="checkBoxSect2">
					<label for="dpbsda" class="cBox2">BSDA
						<input type="radio" name="dematType" value="BSDA" id="dpbsda" checked>
						<span class="rtickMark2"></span>
					</label>
				</div>
			</div>
			<div class="col-md-3 input-section pos-relative">
				<div class="checkBoxSect2">
					<label for="dpnbsda" class="cBox2">NON BSDA
						<input type="radio" name="dematType" value="NONBSDA" id="dpnbsda">
						<span class="rtickMark2"></span>
					</label>
				</div>
			</div>
		</div> -->
		
		<h4 class="ax-sec-title m-0 mb-5">Trading segment</h4>
	
		<div id="tradingSegment" class="mb-5">
			<div class="row intrestedlist">
                        <div class="col-sm-4 mt-3 input-section">
							<div class="checkBoxSect2 tickMarkDisabled">
								<label class="cBox2" for="equity">Equity <small class="grey-texts"></small>
									<input type="checkbox" id="equity" name="segments" disabled> <span class="tickMark2"></span>
									<img src="assets/images/info-icon.svg" width="16" height="16" class="ml-2 ax-product-info  mb-4"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Be a part of India's growth story by investing in stock market or take benefit of short term stock movements using plethora of leverage products like E-margin, Intraday, cover!">
								</label>
							</div>
                        </div>
                        <div class="col-sm-4 mt-3 pe-0 input-section currencies-section">
							<div class="checkBoxSect2 tickMarkDisabled">
								<label class="cBox2" for="mutualfunds">Mutual Funds <small class="grey-texts"></small>
									<input type="checkbox" id="mutualfunds" name="segments" disabled><span class="tickMark2"></span>
								</label>
							</div>
                        </div>
						<!-- <div class="col-sm-4 mt-3" ng-hide="vcip">		
							<div class="checkBoxSect2" ng-class="{'tickMarkDisabled': disableAll}">
								<label class="cBox2" for="slb"> SLB 
									<input type="checkbox" id="slb" name="slb" ng-disabled="disableAll" ng-model="chkselct" ng-change="getdetails()"> <span class="tickMark2"></span>

								</label>
								<div class="ax-label text-success mt-4" style="margin-top: 1rem !important;font-size: 10px !important;" ng-show="result" >ASL will levy processing fees at 10 % of the Transaction Rate / lending and borrowing fee for SLB Segment</div>	
							</div>		
						</div> -->
						<div class="col-sm-4 mt-3">		
							<div class="checkBoxSect2 tickMarkDisabled">
								<label class="cBox2" for="slb"> SLB 
									<input type="checkbox" id="slb" name="slb" checked disabled> <span class="tickMark2"></span>

								</label>

								 <div class="ax-label text-success mt-4" style="margin-top: 1rem !important;font-size: 10px !important;" >ASL will levy processing fees at 10 % of the Transaction Rate / lending and borrowing fee for SLB Segment</div>

							</div>		
						</div>
					</div>
					<div class="row mt-3">						
						<div class="col-sm-12 mt-3">		
							<div class="checkBoxSect2" ng-class="{'tickMarkDisabled': disableAll}">
								<label class="cBox2" for="derivativesAll">Derivatives - All
									<input type="checkbox" id="derivativesAll" name="derivativesAll" ng-click="derivativesAll()" ng-disabled="disableAll"> <span class="tickMark2"></span>
								</label>
							</div>		
						</div>
					</div>
					<div class="row intrestedlist">
                        <div class="col-sm-4 mt-3 input-section derivatives-section">
							<div class="checkBoxSect2" ng-class="{'tickMarkDisabled':derivativesDisable}">
								<label class="cBox2" for="equityderivatives">Equity Derivatives <span class="grey-texts"></span>
									<input type="checkbox" id="equityderivatives" name="derivatives" ng-disabled="derivativesDisable" ng-click="derivatives()"> <span class="tickMark2"></span>
									
									<img src="assets/images/info-icon.svg" width="16" height="16" class="ml-2 ax-product-info  mb-4"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Trade in futures & options on Stocks & Indices. Make the best use of leverage products like intraday and cover to take multi fold exposure!">
								</label>
							</div>
                        </div>
                        <div class="col-sm-4 mt-3 input-section currencies-section">
							<div class="checkBoxSect2" ng-class="{'tickMarkDisabled':derivativesDisable}">
								<label class="cBox2" for="commodityderivatives">Commodity Derivatives
									<input type="checkbox" id="commodityderivatives" name="derivatives" ng-disabled="derivativesDisable" ng-click="derivatives()"> <span class="tickMark2"></span>
								
									<img src="assets/images/info-icon.svg" width="16" height="16" class="ml-2 ax-product-info  mb-4"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Diversify your portfolio beyond equity. Trade in Futures & Options on Gold, silver, crude and agricultural commodities to hedge your investments / benefit from commodity price movements!">
								</label>
							</div>
                        </div>
                        <div class="col-sm-4 mt-3 input-section pos-relative">
							<div class="checkBoxSect2" ng-class="{'tickMarkDisabled':derivativesDisable}">
								<label class="cBox2" for="currency">Currency <span class="grey-texts"></span>
									<input type="checkbox" id="currency" name="derivatives" ng-disabled="derivativesDisable" ng-click="derivatives()"> <span class="tickMark2"></span>
								
									<img src="assets/images/info-icon.svg" width="16" height="16" class="ml-2 ax-product-info  mb-4" data-bs-toggle="tooltip" data-bs-placement="bottom" title="World is too small, they say! Global currencies move with global markets and they all are interlinked. With a good insight of these markets, you can benefit from currency futures/options trading!">
								</label>
							</div>
                        </div>					
                        <div class="col-sm-12 mt-3 input-section pos-relative" ng-if="displaysInfoStatus">
                            <div class="alert-skeleton derivative-alert p-3">
                                <p class="m-0"><span class="font-regular">Please note:</span> To enable Derivatives you
                                    require additional Last 6 months bank statement.</p>
                            </div>
                        </div>
                    </div>
					<div class="d-flex mt-2"><p class="fw-bold" style="margin-right: 4px;">Note:</p> While we are registered with multiple exchanges, we are not operational / offering services in MSEI Exchange, BSE Derivatives (Equity/Currency/Commodities), BSE SLBM, Debt and NSE Commodity Derivatives.
						We will keep you posted incase of any change.</div>
		</div>
		 	 
		
        <div class="profileaddresschangestep1 pacs">
            <!--Contact Details-->
            <div class="onboard-innerinfo">
				<!----trading segment-->
                <div class="intrestedsegments intrested-products">
                    <h4 class="ax-sec-title m-0 mb-5 d-none">Disclaimer</h4>
					<div id="productDisclaimer">
					<!--<div class="row" ng-hide="dpBank">-->
					<div class="row d-none">
						<div class="col-12 mb-5">
							<label class="ax-label">Preferred depository is NSDL</label>
						</div>
					</div>
					<div class="row d-none">
						<div class="col-sm-4 mt-3 input-section depository-section">
                            <label for="nsdl">
                                <input class="customcheckradio" type="radio" name="depository" value="NSDL" id="nsdl" ng-disabled="formData.RMModule">
                                <span>NSDL</span>
                            </label>
                        </div>
					</div>
                  
					<div class="row" ng-show="dpBank">
                        
							<div class="col-md-6 d-none">
								<div class="row">
									<div class="col-12">
										<label class="ax-label">DP Depository</label>
									</div>
									<div class="col-12">
										<div class="row">
											<div class="col-md-6 mt-3 input-section pos-relative d-none">
												<label for="dpcdsl">
													<input class="customcheckradio" type="radio" name="dpdepository" value="CDSL" id="dpcdsl">
													<span>CDSL</span>
												</label>
											</div>
											<div class="col-md-6 mt-3 input-section pos-relative">
												<label for="dpnsdl">
													<input class="customcheckradio" type="radio" name="dpdepository" value="NSDL" id="dpnsdl">
													<span>NSDL</span>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-6">
									<label class="ax-label">Bank DP Id</label>
									<input class="input-field form-control text-uppercase" type="text" 
										id="bankdpNumber" placeholder="DP Id" name="dpNumber"  alpha-numeric maxlength="8" ng-keypress="dpIdError = false; dpIdSameError = false;" ng-model="formData.bankDpNumber" disabled >

                                      
									</div>
									<div class="col-md-6">
									<label class="ax-label">Customer DP Id</label>
									<!--<input class="input-field form-control text-uppercase" type="text" 
										id="dpNumber" placeholder="DP Id" name="customerdpNumber"  alpha-numeric maxlength="8" ng-keypress="dpIdError = false; dpIdSameError = false;" ng-model="formData.dpNumber">-->
									<input class="input-field form-control text-uppercase" type="text" id="dpNumber" placeholder="DP Id" name="customerdpNumber" only-digits maxlength="8" ng-keypress="dpIdError = false; dpIdSameError = false;" ng-model="formData.dpNumber">

                                        <div class="input-message clearfix">
                                            <span class="error-message pull-right" ng-if="dpIdError"><i class="fa fa-times"></i>
                                                Please provide valid DP Id</span>
											<span class="error-message pull-right" ng-if="dpIdSameError"><i class="fa fa-times"></i>
                                                Bank DP Id and Customer DP Id cannot be same</span>
                                        </div>
									</div>
								</div>
							</div>
					</div>
					<!-- <div class="row mt-4" ng-if="formData.referralCode">
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-12">
									<label class="ax-label">Referral Code</label>
									<input class="input-field form-control text-uppercase" type="text" 
									id="reffcode" placeholder="Referral Code" name="reffcode"  alpha-numeric maxlength="8" ng-keypress="dpIdError = false;"
									ng-model="formData.referralCode" disabled >
								</div>
							</div>
						</div>
					</div> -->
					</div>
					
					 <div class="row" ng-show="dpBank">
						<div class="divider col-12 mb-5">
							<div class="divider-d"></div>
						</div>
					</div>
					<div>
					<h4 class="ax-sec-title acord-btn collapsed m-0 mb-5"  data-bs-toggle="collapse" data-bs-target="#assistedCode">
					<a href="javascript:void(0)" class="collapseTag ax-sec-title" title="assistedCode">Assisted <span ng-if="!appliedPromo && !hidePromo">& Promo </span>Codes</a>
					<small ng-if="collapseDetailsError" class="text-danger ml-5 mt-3 ng-scope"><i class="fa fa-times"></i> Further action required</small>
					</h4>
					<div id="assistedCode" class="collapse" data-bs-parent="#products">
                    <div class="row align-items-end">
                        
                        <div class="col-md-4 input-section">
                            <label class="ax-label" for="assistedCode">I have assisted code with me (Optional)</label>
                            <input class="input-field form-control text-uppercase" type="text" name="referrelCodes" ng-disabled="freezeLG"
                                id="assistedLGCode" placeholder="LG CODE" alpha-numeric maxlength="20"
                                ng-model="formData.assistedLGCode">
                        </div>
                        <div class="col-md-4 input-section" >
                            <label class="ax-label text-uppercase" for="assistedCode"></label>
                            <input class="input-field form-control" type="text" name="referrelCodes" id="assistedLCCode" ng-disabled="freezeLC" 
                                maxlength="20" alpha-numeric placeholder="LC CODE" ng-model="formData.assistedLCCode" required only-digits>
								<span class="error-message pull-right" style="margin-bottom: -65px" ng-if="assistedLCCodeError"><i class="fa fa-times"></i> Please enter your employee id.</span> 
								<span class="error-message pull-right" style="margin-bottom: -65px" ng-if="assistedLCCodeError1"><i class="fa fa-times"></i> Please provide your employee id with minimum Two Values.</span> 
                        </div>
						<div class="col-md-4 input-section">
							<!-- <label class="ax-label">Referral Code</label> -->
							<input class="input-field form-control text-uppercase" type="text" 
							id="reffcode" placeholder="Referral Code" name="reffcode"  alpha-numeric maxlength="24" 
							ng-model="formData.referralCode" ng-disabled="freezeRC">
						</div>
                    </div>
                    <div class="row">
                        <div class="divider col-12 mb-5">
                            <div class="divider-d"></div>
                        </div>
                    </div>
					<div ng-if="!hidePromo">
						<div class="row" ng-if="!appliedPromo">
							<div class="col-md-8 input-section">
								<label class="ax-label" for="assistedCode">I have a promo code with me</label>
								<input class="input-field form-control text-uppercase" type="text" name="referrelCodes"
									id="promoCode" placeholder="PROMO CODE" alpha-numeric maxlength="20" ng-disabled="promoDone || promoDisabled"
									ng-model="formData.promoCode" ng-blur="clearText()">
									
								<div class="ax-label text-success mt-4" ng-if="promoSuccess">{{promoDescripton}}</div>	
								<div class="ax-label text-success mt-4" ng-if="promoDone">Promo code applied</div>	
								<div class="ax-label text-danger mt-4" ng-if="promoFailed">{{promoDescripton}}</div>	
								<div class="ax-label text-danger mt-4" ng-if="promoEmpty">Please enter promo code</div>	
							</div>
							<div class="col-md-4">
								<button type="submit" class="mt-5 btn ax-btn-primary text-uppercase secbut pcacs-tabs scrolltop" ng-disabled="promoDone" ng-click="applyPromo()">
									Apply
								</button>					
							</div>
							<!--<div class="col-12 mb-5">
								<p ng-if="!productAction && formData.promoCode" style="color:#ae275f"><small>This promocode is not applicable for plans with subscription amount as account opening fees is already waived off for these plans.</small></p>
								<p><small>* I hereby authorise ASL to buy ETF(s) units not exceeding Rs.100 at market price towards activation of my Trading account. I agree that this is complimentary against account opening fees paid and no money will be deducted from my bank account.</small></p>
							</div>-->
						</div>  
					</div>
					</div>
               
					</div>
			   </div>

                <div class="row mb-5">
					
                    <div class="col-12 text-center">
                        <div class="wizard-btns">
                            <button type="button" id="backBankPage" ng-click="fourthSection()"
                                class="text-uppercase boariding-btns text-uppercase plan-button" ng-if="!formData.isgEsign && !BYOD">
                                Back to bank details
                            </button>
                            <button type="submit" id="proceedPayment"
                                class="btn ax-btn-primary text-uppercase secbut pcacs-tabs scrolltop"
                                ng-disabled="formData.apiLoading" title="" ng-click="paymentBtn()"
                                ng-if="!formData.isgEsign && formData.makePayment && !formData.RMModule && !iszeropayment">
                                Make Payment
                            </button>
                            <button type="submit" id="proceedPayment"
                                class="btn ax-btn-primary text-uppercase secbut pcacs-tabs scrolltop"
                                ng-disabled="formData.apiLoading" title="" ng-click="updateDpid()"
                                ng-if="(!formData.isgEsign && !formData.makePayment && !formData.RMModule && !iszeropayment)">
                                Proceed to document upload
                            </button>
                            <button type="submit" id="proceedPayment"
                                class="btn ax-btn-primary text-uppercase secbut pcacs-tabs scrolltop"
                                ng-disabled="formData.apiLoading" title="" ng-click="productSentSms()"
                                ng-if="formData.RMModule">
                                Proceed to document upload
                            </button>
							<!-- <button type="button" id="backBankPage" ng-click="paymentSkip()"
                                class="text-uppercase boariding-btns text-uppercase plan-button" ng-if="!formData.RMModule && formData.paymentSkip && !iszeropayment">
                                Skip Payment
                            </button> -->
							<button type="button" id="backBankPage" ng-click="paymentSkip()"
							class="btn ax-btn-primary text-uppercase secbut pcacs-tabs scrolltop" ng-if="!formData.RMModule && iszeropayment">
							Proceed to document upload
                            </button>
                        </div>
                    </div>
                </div>

				
            </div>
        </div>
    </div>
    <div class="col-md-3 help-sidebar d-none d-sm-block">
        <h3 class="ax-sec-title mt-0 mb-3">Hey.. Help is here!<a ng-click="showInfo();" href="javascript:void(0);"><img
                    src="assets/images/info-icon.svg" width="16" height="16" class="ax-product-info pull-right" alt=""></a></h3>
        <div class="guideline-with-bg">
            <div class="d-flex pb-4">
                <div class="pe-3">1.</div>
                <div ng-if="!webfinacle">This section provides details of the brokerage rates provided on your account.</div>
                <div ng-if="webfinacle">Here you can choose from one of the various competitive pricing plans available with us.</div>
            </div>
            <div class="d-flex pb-4">
                <div class="pe-3">2.</div>
                <div class="" ng-if="!webfinacle">Your account is default enabled for cash segment.</div>
                <div class="" ng-if="webfinacle">You can opt for derivatives segment (stocks, currency, commodity) by uploading income proof</div>
            </div>
            <div class="d-flex pb-4">
                <div class="pe-3">3.</div>
                <div class="" ng-if="!webfinacle">In case, you opt for derivative segment, you would need to upload your income proof (any
                    one of Latest copy of Form 16 OR last six months bank statement, OR any of the last three month
                    salary slip) as per SEBI guidelines in the next section.</div>
				<div class="" ng-if="webfinacle">You can also mention the Axis Bank Employee who has assisted you in the journey by entering their Employee ID in the fields provided for entering LG & LC Codes. You can choose to make payment either through Net Banking, UPI, Bar Code, Wallets, Debit or Credit Card.</div>
            </div>
			<!-- <div>
				<i class="fa fa-question-circle fa-lg"></i> Need Further Assist? <span style="color: #97144d; cursor: pointer;" class="cursor-pointer" ng-click="formData.helpPopup()" role="button" tabindex="0"> Click here</span>
			</div> -->
		
        </div>
    </div>
	</div>
</div>
<section class="modal fade" id="promocodeDialog" role="dialog" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header" style="padding-bottom: 0 !important">
				<button type="button" class="close" data-bs-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body pt-0">
				<div class="row">
					<div class="col-md-8 input-section">
						<label class="ax-label" for="assistedCode">I have a promo code with me</label>
						<input class="input-field form-control text-uppercase" type="text" name="referrelCodes"
							id="promoCodeModal" placeholder="PROMO CODE" alpha-numeric maxlength="20" ng-disabled="promoDone"
							ng-model="formData.promoCode" ng-blur="clearText()">
							
						<div class="ax-label text-success mt-4" ng-if="promoSuccess">{{promoDescripton}}</div>	
						<div class="ax-label text-success mt-4" ng-if="promoDone">Promo code applied</div>	
						<div class="ax-label text-danger mt-4" ng-if="promoFailed">{{promoDescripton}}</div>	
						<div class="ax-label text-danger mt-4" ng-if="promoEmpty">Please enter promo code</div>	
					</div>
					<div class="col-md-4">
						<button type="submit" class="mt-5 btn ax-btn-primary text-uppercase secbut pcacs-tabs scrolltop" ng-disabled="promoDone" ng-click="applyPromo()">
							Apply
						</button>					
					</div>
				</div>         
			</div>
		</div>
	</div>
</section>

<section class="modal fade" id="productSentSmsDialog" role="dialog" tabindex="-1">
	<div class="modal-dialog login-dialog">
		<div class="modal-content">
			<!-- <div class="modal-header">
				<button type="button" class="close" data-bs-dismiss="modal">&times;</button>
			</div> -->
			<div class="modal-body">
				<div class="row">
					<h4 class="ax-sec-label text-center mb-3 w-100">Payment link send to customer successfully</h4>
					<div class="col-md-12 text-center">
						<button type="submit" class="mt-2 btn ax-btn-primary text-uppercase secbut pcacs-tabs scrolltop" ng-click="productValidate()">
							Okay
						</button>					
					</div>
				</div>         
			</div>
		</div>
	</div>
</section>

<!-- dp popup -->
<section class="modal fade" id="dpMessagePopup" role="dialog" tabindex="-1">
	<div class="modal-dialog login-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="ax-modal-close close" data-bs-dismiss="modal" data-bs-toggle="tooltip"
					title="Close">&times;</button>
				<!-- <div class="row">
					<div class="col-12">
						<h4 class="ax-sec-title mt-0">Preferences set by AxisDirect</h4>
					</div>
				</div> -->
			</div>
			<div class="modal-body pt-0 pb-0">
				<p class="ax-sec-title text-center"> {{dpMessage}} </p>
			</div>
			<div class="modal-footer text-center">
				<div class="row w-100">
					<div class="col-12">
						<button type="button" data-bs-dismiss="modal" class="btn ax-btn-primary text-uppercase">
							Okay</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
    <!-- Show product 'i' information -->
    <div class="show-product-info" ng-if="showProductInfo">
        <p class="m-0">For any queries you can call us on 022-61480808 or 022-40508080</p>
    </div>
</section>
<!-- <div class="mobile-proceed">
    <a href="personalDetails" class="back"><i class="icon25 icon-back"></i></a>
	<a href="javascript:void(0);" class="proceed"  ng-click="productValidate()">Proceed</a>
    <a href="javascript:void(0);" class="need-assistance-mob" ng-click="mobileAssistance()"><i class="icon25 icon-assistance"></i></a>
</div> -->

<section class="modal fade" id="dmodal" role="dialog" tabindex="-1">

        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
				<div class="modal-header text-center">
					<strong class="pt-5 modal-title">RISK DISCLOSURES ON DERIVATIVES</strong>
					 <button type="button" class="btn-close" ng-click="declineDModal()" aria-label="Close"></button>
				</div>
                <div class="modal-body pt-0">
                    <ol>
						<li class="mt-3">9 out of 10 individual traders in equity Futures and Options Segment, incurred net losses.</li>
						<li class="mt-3">On an average, loss makers registered net trading loss close to &#8377;50,000.</li>
						<li class="mt-3">Over and above the net trading losses incurred, loss makers expended an additional 28%
of net trading losses as transaction costs.</li>
						<li class="mt-3">Those making net trading profits, incurred between 15% to 50% of such profits as
transaction cost.</li>
					</ol>
					<ul>
					<li class="mt-5">
						<button type="button" class="btn ax-btn-primary" data-bs-dismiss="modal">I understand the above risks</button>
						<button type="button" class="btn text-uppercase plan-button text-uppercase" ng-click="declineDModal()">Cancel</button></li>

					</ul>
                </div>
            </div>
        </div>
</section>    