<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="Imported Rule 2" />
                <rule name="ReverseProxyInboundRule2" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://192.168.102.145:3001/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
