
<!-- Global site tag (gtag.js) - Google Ads: 727858862 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-727858862"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-727858862');
</script>
<!-- Event snippet for AxisDirect_AccountOpen_Dec20 conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-727858862/-n90CIPl_esBEK79iNsC'});
</script>
<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1253495914811323');
  fbq('track', 'PageView');fbq('trackCustom', 'AxisDirect-AccountOpen');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1253495914811323&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->


<div class="row">
	<iframe src="https://trk.y2k1.xyz/pixel?adid=609105e2f6d02e5ee034e2fb" scrolling="no" frameborder="0" width="1" height="1"></iframe>
	<div ng-if="formData.ReferenceNumber" class="text-center justify-content-center ax-homeBackBtn d-none d-sm-block cursor-default w-100"> Reference Number:{{formData.ReferenceNumber}}</div>
    <div class="col-12 text-center">
        <div class="pg-completed">
            <h4 class="ax-sec-title p-5 f-24">Congratulations and Welcome to Axis Family !</h4>
            <!-- <img class="cartoon-character" src="../../assets/images/axis/completed-cartoon.png" alt="" title="axis-account-opened" /> -->
            <div class="p-5">
                <h4 class="ax-sec-title mb-0" ng-show="verifyemail">Dear Customer, it seems you have not verified your email yet, Please <a href="javascript:void(0)" ng-click="genEmailOTP()">verify your email address</a> to complete your digital journey.</h4>
                <h5 class="mb-4">If you wish to change your registered email id, please call us at 022-40508080 or 022-61480808 or you can do that after your account is opened.</h5>
                <h4 class="ax-sec-title mt-4 mb-0">A soft copy of pre-filled POA ( Power of Attorney ) will be shared with you on your registered email address with us. Submitting the physically signed POA will empower you to trade in the enabled segments hasslefree on Axis Direct. Request you to take a print out of the same, sign it and send it to us via courier on the address given below:
				<p class="mt-4 mb-0 font-bold">Axis Securities Ltd</p>
                                <p class="m-0">1st Floor, I-Rise Building, Q Parc, (Loma Park),</p>
                                <p class="m-0">Thane Belapur Road, Ghansoli, Navi Mumbai, Maharashtra 400710.</p>
				</h4>
            </div>
			<!--<div class="p-5" ng-if="!verifyemail">
                <h4 class="ax-sec-title mb-0">Your account will be activated shortly. We will be in touch with you on E-mail and SMS.</h4>
                <h4 class="ax-sec-title mt-0">In the meanwhile, feel free to explore the wonderful world of investments with Axisdirect.</h4>
            </div>-->
            <button class="btn ax-btn-primary text-uppercase mb-5" ng-click="stageCompleted()">Go to axisdirect Homepage</button>
        </div>
    </div>
</div>


<style>
  .detailsscreendata {
      padding-bottom: 5px;
      margin-left: 10px;
      border-bottom: 1px solid;
      width: 30%;
      font-weight: 600;
  }
  .authorisepolicy ul li {
      margin-bottom: 10px;
  }
  .authorisepolicy ul li span {
      margin-right: 10px;
  }
  .modal-lg {
      max-width: 900px;
  }
</style>

<section class="modal fade" id="acceptanceletterpopup" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg" >
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body login-body">
            <div class="row">

              <div class="col-12 text-left">
                  <div class="authorisepolicy">
                      <h4 class="ax-sec-title pb-5 text-center">Authorisation to Axis Securities Limited</h4>
                      <div class="p-5">
                          <p>I,<b> &lt;{{karvyData.CUSTOMER_NAME}}&gt;</b>, PAN <b>&lt;{{karvyData.PAN}}&gt; </b> was maintaining my resident individual Trading Account with Karvy Stock
                              Broking Limited. I understand that through a formal bidding process all client Trading Accounts maintained
                              with Karvy are being shifted to Axis Securities Limited (ASL).</p>
                          <p>
                              I confirm that I have already completed my CKYC and KRA process for my Trading account with Karvy. I
            understand that the above KYC documents will be forwarded by Karvy to ASL.
                          </p>
                          <p>
                              Please take this as consent to open my Demat account with ASL as Depository Participant of NSDL and link it to
            my Trading account. The Demat account to be opened based on the KYC details including bank account details
            of my Trading account with Karvy.
                          </p>
                          <p>
                              I agree to ASL’s standard retail DP Tariff sheet for my above Demat account. I will submit additional
            documents, if any required by ASL in this regard.
                          </p>
                          <p>Customer Declaration:</p>
                          <ul class="list-unstyled">
                              <li><span>-</span>I/We authorize you to receive credit automatically into A/c.</li>
                              <li><span>-</span>I/We do not want to receive the Delivery Instruction Slip (DIS) booklet</li>
                              <li><span>-</span>I/We hereby authorize you to use my/our Bank A/c no in Trading account for dividend purpose,</li>
                              <li><span>-</span>recovery of Demat related charges.</li>
                              <li><span>-</span>I/We do not wish to make a nomination</li>
                              <li><span>-</span>I/We opt for Non BSDA Demat Account operated through Power Of Attorney</li>
                              <li><span>-</span>I/We opt for Statement frequency as Monthly</li>
                              <li><span>-</span>I/We opt for Mode of receiving Demat statement, Rights &amp; Obligation and annual report as Electronic</li>
                              <li><span>-</span>I/We allow Axis Securities to Share my email ID with RTA</li>
                              <li><span>-</span>I/We wish to avail of the facility of internet trading/ wireless technology</li>
                              <li><span>-</span>I/we further confirm having read and understood the contents of Part B Form comprising of Rights
                                  and Obligations of the Beneficial Owner and Depository Participant, Rights and Obligations of Stock
                                  Brokers, Sub Brokers &amp; clients, Rights and Obligations of Margin Trading, Risk Disclosure document,
                                  Policy &amp; Procedures, Guidance Note, Additional Terms &amp; Conditions &amp; Schedule of Charges. I/We do
                                  hereby agree to be bound by such provisions as outlined in these documents.</li>
                          </ul>
                          <p>Bank Account to be linked in Demat and Trading:</p>
                          <div class="d-flex align-items-center justify-content-start mb-3">
                              <span>Bank Account Number:</span>
                              <div class="detailsscreendata">{{karvyData.AC_NO}}</div>
                          </div>
                          <div class="d-flex align-items-center justify-content-start mb-3">
                              <span>IFSC:</span>
                              <div class="detailsscreendata">{{karvyData.IFSC_CODE}}</div>
                          </div>
                          <div class="d-flex align-items-center justify-content-start mb-3">
                              <span>Bank Name:</span>
                              <div class="detailsscreendata">{{karvyData.BANK_NAME}}</div>
                          </div>
                          <div class="d-flex align-items-center justify-content-start mb-3">
                              <span>Date of Birth: </span>
                              <div class="detailsscreendata">{{karvyData.DOB}}</div>
                          </div>
                          <div class="d-flex align-items-center justify-content-start mb-3">
                              <span>Mobile Number: </span>
                              <div class="detailsscreendata">{{karvyData.MOBILE}}</div>
                          </div>
                          <div class="d-flex align-items-center justify-content-start mb-3">
                              <span>Email ID:</span>
                              <div class="detailsscreendata">{{karvyData.EMAIL}}</div>    
                          </div>
                      </div>
                      <div class="px-5">
                          <p>Thanking you</p>
                          <p class="mb-5">Name: <b>&lt;{{karvyData.CUSTOMER_NAME}}&gt;</b></p>
                      </div>
                      <p class="text-center">
                          *Demat account opening is subject to validation of data with Trading account and KYC records Validation
                      </p>
                  </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</section>





